#content {
min-width: 1600px;
margin: 0 auto;
}
#background {
 height: 725px;
 background-color: black;
}
header{
    background-color:black;
}
nav a:hover {
    background-color:white;
    color: black
}
.book, .join {
    background-color:red;
    color:orange;
    text-align: center;
}
.book:hover, .join:hover{
    background-color:black;
    color:orange;
    text-decoration: none;
    text-align: center;
}
.msg{
    background-color:black;
    text-align: center;
}
footer{
    background-color:blue;
    text-align: center;
}
nav a {
    text-align: center;
    color:red;
    text-decoration: none;
    text-align: center;
}
.home-title{
    color:black;
    text-align: center;
    text-align: center;
}
h4{
    color:red;
    text-align: center;
}

.msg h2 {
color:lightcoral;
text-align: center;
}
.msg p{
color:aqua;
text-align: center;
}
footer{
color:black;
text-align: center;
}
footer a{
color:black;
text-decoration: none;
text-align: center;
}
footer a:hover{
color: black;
text-align: center;
}
.card-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.icon {
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer p {
    font-size: 1.2em;

}
footer p a:hover {
    text-decoration: underline;  
}